backend/SprintBusiness/.vs/
frontend/sprint-business/node_modules/

backend/SprintBusiness/SprintBuisness.Application/obj/
backend/SprintBusiness/SprintBuisness.Application/bin/

backend/SprintBusiness/SprintBuisness.Contracts/obj/
backend/SprintBusiness/SprintBuisness.Contracts/bin/

backend/SprintBusiness/SprintBuisness.DomainEvents/bin/
backend/SprintBusiness/SprintBuisness.DomainEvents/obj/

backend/SprintBusiness/SprintBusiness.Whatsapp/obj/
backend/SprintBusiness/SprintBusiness.Whatsapp/bin/

backend/SprintBusiness/SprintBusiness.Shared/obj/
backend/SprintBusiness/SprintBusiness.Shared/bin/

backend/SprintBusiness/SprintBusiness.Features/obj/
backend/SprintBusiness/SprintBusiness.Features/bin/

backend/SprintBusiness/SprintBusiness.Domain/obj/
backend/SprintBusiness/SprintBusiness.Domain/bin/

backend/SprintBusiness/SprintBusiness.Api/obj/
backend/SprintBusiness/SprintBusiness.Api/bin/

backend/SprintBusiness/SprintBuisness.EntityframeworkCore/obj/
backend/SprintBusiness/SprintBuisness.EntityframeworkCore/bin/

