:root {
  --background-color: #e0e7ed;
  --red: #ed222d;
  --blue: #183457;
  --light: #fafafa;
  --transition: 0.3s ease-in-out;
  --loader: blue;
  /* --height-screen: calc(100vh - 68.39px - 7.5px); */
  --height-screen: calc(100vh - 68.39px - 3rem);
  --radius: 1rem;
  --gap: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Almarai";
  src: url(../fonts/Almarai-Regular.ttf);
} */

body {
  height: 100vh;
  font-family: "Almarai";
  background-color: var(--light);
}

input {
  outline: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  /* height: calc(100vh - 68.39px); */
  padding-bottom: 1rem;
}

.h-100 {
  min-height: 100vh;
}

.h-100p {
  height: 100%;
}

/* Overlay */
body > .overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 0.5rem;
}

/* Login */

.login-form {
  max-width: 600px;
  width: 100%;
}

.form-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--blue);
  height: 125px;
}

.form-header::before,
.form-header::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #0e57a4;
  opacity: 0.3;
  z-index: 0;
}

.form-header::before {
  left: -150px;
  top: 0;
}

.form-header::after {
  right: -150px;
  bottom: 30%;
}

.form-header img.red-blue-lines {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
}

.form-header img.white-logo {
  width: 100px;
  z-index: 1;
}

.login-form .form-body {
  background-color: white;
  padding: 3rem;
}

/* Header */
.container-fluid {
  padding-inline: 1.5rem;
}

header .container-fluid {
  padding-block: 1.5rem;
  /* padding-block: 0.75rem; */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

header .logo {
  width: 100px;
}

header .container-fluid > div {
  display: flex;
  align-items: center;
}

header .search-box {
  max-width: 350px;
  width: 100%;
  background-color: var(--background-color);
}

header .user-img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .user-img img {
  width: 100%;
  border-radius: 50%;
}

header .user-img::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  right: -2px;
  bottom: 0px;
  border: 2px solid var(--light);
  background-color: #45e76e;
}

header .user-name {
  color: var(--blue);
  font-size: 0.85rem;
  font-weight: 500;
}

header .vr {
  width: 1px;
  height: 100%;
  background-color: var(--blue);
  margin-inline: 1rem;
}

header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 0.25rem;
  cursor: pointer;
}

header .icon.blue {
  position: relative;
  background-color: #8585ff29;
}

header .icon.blue::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}

header .icon.yellow {
  background-color: #f6f0df;
}

header .icon.green {
  position: relative;
  background-color: #ebf5ed;
}

header .icon.red {
  background-color: #ffcccf;
}

/* Notifications */

header .notifications-form {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 300px;
  height: 300px;
  padding: 0.5rem;
  background-color: var(--light);
  border-radius: 0.5rem;
  z-index: 101;
}

header .notifications-form .notifications-container {
  height: 260px;
  overflow-y: auto;
}

header .notifications-form .date {
  font-size: 0.7rem;
  color: #646d74;
  margin-bottom: 0.5rem;
}

header .notifications-form .notification {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--blue);
}

header .notifications-form .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 50%;
}

header .notifications-form .notification-text {
  font-size: 0.8rem;
  color: var(--blue);
}

header .notifications-form .time {
  align-self: flex-end;
  font-size: 0.6rem;
  color: #646d74;
  width: 35px;
}

/* Language */
header .language {
  display: none;
  width: 120px;
  padding: 0.25rem 0.25rem 0;
  background-color: var(--light);
  position: absolute;
  top: 100%;
  border-radius: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}

header .language > button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--light);
  color: var(--blue);
}

header .language > button.active {
  background-color: var(--blue);
  color: white;
}

header .language span {
  font-size: 0.8rem;
}

/* Aside */

main.dashboard {
  padding-right: calc(220px + 1.5rem);
}

aside {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 220px;
  height: var(--height-screen);
  background-color: var(--blue);
  border-radius: var(--radius);
}

aside.dashboard-aside nav {
  height: 100%;
}

aside .links li {
  position: relative;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
}

aside .links li[messages-number]::before {
  content: attr(messages-number);
  position: absolute;
  left: 0.35rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--red);
  font-size: 0.7rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}

aside .links li.active {
  background-color: var(--red);
}

aside .links li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem;
  padding-left: 1.5rem;
  color: white;
}

aside .switch {
  position: relative;
  display: flex;
  max-width: 130px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  margin-top: 0.5rem;
  cursor: pointer;
  user-select: none;
}

aside .switch::before {
  content: "";
  width: calc(50% - 16px);
  height: calc(100% - 8px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 0.5rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

aside .switch[data-status="on"]::before {
  left: 8px;
  background-color: #34c759;
}

aside .switch[data-status="off"]::before {
  left: calc(50% + 8px);
  background-color: var(--red);
}

aside .switch small {
  text-align: center;
  font-weight: 600;
  width: 50%;
}

aside .switch small.on {
  color: #34c759;
}

aside .switch small.off {
  color: var(--red);
}

/* Chat */
.chat {
  height: var(--height-screen);
}

.chat .contacts {
  background-color: var(--background-color);
  border-radius: 1rem;
}

.chat .conversation {
  height: var(--height-screen);
}

.chat .conversation .messages-box {
  position: relative;
  flex: 1;
  background-size: 100%;
  padding-inline: 5px;
  padding-block: 10px;
}

.chat .conversation .messages-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0.9;
}

.chat .conversation .messages-box .messages {
  position: relative;
  z-index: 2;
}

.chat .conversation .messages-box .conversation-info {
  position: absolute;
  width: calc(100% - 2rem);
  left: 1rem;
  top: 1rem;
  background-color: white;
  z-index: 10;
}

.chat
  .conversation
  .messages-box
  .conversation-info
  .info-select
  > div:first-child {
  transform: scale(0.9);
  width: 200px;
}

.chat .conversation .messages-box .messages {
  padding-top: calc(65px + 2rem);
  padding-bottom: 14px;
  padding-inline: 11px;
  height: 100%;
}

.chat .conversation .messages-box .messages .message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 80%;
}

.chat .conversation .messages-box .messages .message .message-text {
  background-color: var(--light);
  padding: 5px 10px;
  border-radius: 0.5rem;
}

.chat .conversation .messages-box .messages .message .message-text > p {
  font-size: 0.95rem;
  padding: 0.25rem;
}

.chat .conversation .messages-box .messages .message .message-text .time {
  font-size: 0.75rem;
  display: block;
  text-align: left;
  color: #646d74;
}

.chat .conversation .messages-box .messages .user.message {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.chat .conversation .messages-box .messages .message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.chat .conversation .buttons button {
  width: 150px;
  font-size: 0.9rem;
}

.chat .conversation .controls .type-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
}

.chat .conversation .controls .type-message input {
  background-color: transparent;
  border: none;
  flex: 1;
}

.chat .conversation .controls .type-message .icon {
  cursor: pointer;
}

.chat .conversation .controls .type-message .send.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--red);
  transition: 0.25s;
}

.chat .conversation .controls .type-message .send.icon.disabled {
  pointer-events: none;
  background-color: gray;
}

.chat .conversation .controls .type-message-disabled {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #646d74 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .conversation .controls .type-message-disabled .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #535766;
}

/* .conversations {
  height: var(--height-screen);
}

.conversations > div {
  display: flex;
  flex-direction: column;
}

.conversations > div:first-child {
  gap: 0.5rem;
  flex: 0.4;
}

.conversations > div:first-child > div {
  background-color: var(--background-color);
  border-radius: 1rem;
}

.conversations > div:first-child > div:first-child {
  height: calc(55% - 8px);
}

.conversations > div:first-child > div:nth-child(2) {
  height: 45%;
}

.conversations > div:last-child {
  flex: 0.6;
}

.conversations .type-message-disabled {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  background-color: #646d74;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversations .type-message-disabled .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #535766;
}

.conversations .type-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
}

.conversations .type-message input {
  background-color: transparent;
  border: none;
  flex: 1;
}

.conversations .type-message .icon {
  cursor: pointer;
}

.conversations .type-message .send.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--red);
} */

/* Contacts */

.contacts {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.contacts .tabs > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex: 1;
  cursor: pointer;
  font-size: 0.9rem;
}

.contacts .tabs .active {
  background-color: var(--red);
  color: var(--light);
}

.contacts .tabs .active svg path {
  stroke: var(--light);
}

.contacts .contacts-container {
  overflow-y: auto;
  flex: 1;
  padding: 0.5rem;
}

.contacts .contacts-container .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  transition: 0.25s;
  color: unset;
}

.contacts .contacts-container .contact:hover {
  background-color: #bfc6cd;
}

.contacts .contacts-container .contact .user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.contacts .contacts-container .contact .user-name p {
  font-size: 0.9rem;
}

.contacts .contacts-container .contact .user-name small {
  font-size: 0.8rem;
}

.contacts .contacts-container .contact .department {
  font-size: 0.7rem;
  text-align: center;
}

.contacts .contacts-container .contact.active {
  background-color: var(--blue);
  color: var(--light);
}

.contacts .contacts-container .contact.active .user-img svg path {
  stroke: var(--light);
}

/* Contact info */

.user-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.user-info .info {
  margin-bottom: 0.5rem;
  flex: 1;
  overflow: auto;
}

.user-info .user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.user-info .user-name {
  color: var(--blue);
}

.user-info .block-user-btn {
  background-color: #ffcccf;
  color: var(--red);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.user-info p {
  font-size: 0.9rem;
  color: #646d74;
}

/* Chat header */

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.chat-header .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

/* Chat body */

.chat-body {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  height: calc(100% - 82px);
  overflow-y: auto;
}

.chat-body .note {
  font-size: 0.8rem;
  text-align: center;
}

.chat-body .message-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-body .customer-service.message .customer-employee-name {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.chat-body .message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chat-body .message .message-text {
  display: flex;
  background-color: var(--light);
  padding: 0.25rem;
  border-radius: 0.5rem;
  max-width: 300px;
}

.chat-body .message .message-text > p {
  font-size: 0.95rem;
  padding: 0.25rem;
}

.chat-body .message .message-text .time {
  align-self: flex-end;
  font-size: 0.75rem;
  text-align: center;
  color: #646d74;
  width: 50px;
}

.chat-body .user.message {
  align-self: flex-end;
  flex-direction: row-reverse;
}

/* Modals */

/* .custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.custom-modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.custom-modal .modal-form {
  max-width: 500px;
  width: 100%;
  z-index: 101;
}

.custom-modal .form-body {
  padding: 3rem;
  background-color: var(--light);
} */

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.custom-modal .modal-form {
  z-index: 101;
  border-radius: 0.4rem;
  padding: 3rem;
  max-height: 95vh;
  background-color: var(--light);
}

.custom-modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/*! Component */
.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 40%;
  z-index: -2;
}

.bg-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0.9;
  z-index: -1;
}

.custom-input {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--light);
  border-radius: 0.5rem;
  padding-inline: 0.5rem;
}

.custom-input input {
  background: transparent;
  border: none;
  width: 100%;
  padding: 7px 5px;
  /* padding: 10px 5px; */
}

.custom-input input::placeholder {
  font-size: 0.9rem;
}

.custom-btn {
  padding: 0.5rem 1rem;
  display: block;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.custom-btn.primary {
  background-color: var(--blue);
  color: white;
  border: none;
}

.custom-btn.secondary {
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.custom-btn:not(:disabled):hover {
  background-color: var(--red);
}

.custom-btn.secondary:not(:disabled):hover {
  color: white;
  border-color: var(--red);
}

.custom-btn:disabled {
  opacity: 0.8;
}
.custom-select {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--blue);
  border: 1px solid var(--blue);
  min-width: 160px;
  cursor: pointer;
  outline: none;
}

.unassigned-conversations {
  height: var(--height-screen);
}

.unassigned-conversations .select-box > div:first-child {
  transform: scale(0.9);
  margin-left: -0.5rem;
  width: 200px;
}

.work-groups {
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: var(--radius);
  padding-bottom: 6px;
  position: relative;
}

.work-groups::before {
  content: "";
  width: 7%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #e0e7edd1 50%, transparent);
}

.work-groups > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 10px;
  padding-left: 7%;
}

.work-groups > div::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
}

.work-groups .group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  min-width: 120px;
  cursor: pointer;
  transition: var(--transition);
  color: #555a69;
}

.work-groups .group.active,
.work-groups .group:hover {
  background-color: var(--red);
  color: var(--light);
}

.work-groups .group svg path {
  transition: all var(--transition);
}
.work-groups .group.active svg path,
.work-groups .group:hover svg path {
  stroke: var(--light);
}

/* Conversations box */
.conversations-box {
  background-color: var(--background-color);
  border-radius: var(--radius);
  padding: 1rem;
  flex: 1;
  /* height: calc(100% - 70px - 1rem); */
}

/* Tabs */
.conversations-box .tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.conversations-box .tabs button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  transition: all var(--transition);
  width: 180px;
}

.conversations-box .tabs button.active {
  background-color: var(--red);
  color: var(--light);
}

.conversations-box .tabs button svg path {
  transition: var(--transition);
}
.conversations-box .tabs button.active svg path {
  stroke: var(--light);
}

.conversations-box .tabs button.active,
.conversations-box .tabs button:not(:disabled):hover {
  background-color: var(--red);
  color: var(--light);
}

.conversations-box .tabs button.active svg path,
.conversations-box .tabs button:not(:disabled):hover svg path {
  stroke: var(--light);
}

/* Search boxes */
.conversations-box .search-box {
  max-width: 300px;
  width: 100%;
}

/* Conversations container */
.conversations-box .conversations-container {
  height: calc(100% - 37.61px - 35.19px - 2rem);
  overflow-y: auto;
  direction: ltr;
  padding-inline: 1rem;
}

.conversations-box .conversations-container .conversation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c7c7c7;
  padding-block: 0.5rem;
  direction: rtl;
}

.conversations-box .conversations-container .conversation .contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
}

.conversations-box .conversations-container .conversation .user-name p {
  font-size: 15px;
}

.conversations-box .conversations-container .conversation .buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.conversations-box .conversations-container .conversation .custom-btn {
  padding: 5px 12px;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}

/*! Custom Framework */

.text-blue {
  color: var(--blue);
}

.welcome-section {
  height: var(--height-screen);
}
